{% extends 'base.html.twig' %}

{% block title %}Devnodes | Mon compte{% endblock %}


{% block body %}
<!-- En tête titre -->
<h1 class="text-center mt-3">Mon compte</h1>

<br>

<!-- Wrapper -->
<div class="wrapper">
    <div class="row">
    </div>

{% endblock %}
