{% extends 'base.html.twig' %}

{% block title %}Devnodes | Modifier mes informations{% endblock %}


{% block body %}
<!-- En tête titre -->
<h1 class="text-center mt-3">Mes informations</h1>
<p class="text-center"> Ici vous pouvez modifier toutes les informations relatives à votre compte</p>
<br>


<!-- Wrapper -->
<div class="wrapper">
    <div class="formEditRegister">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}