{% extends 'base.html.twig' %}

{% block title %}Devnodes | Modifier mon mot de passe{% endblock %}


{% block body %}
    <!-- En tête titre -->
    <h1 class="text-center mt-3">Mon mot de passe</h1>
    <p class="text-center"> Ici vous pouvez modifier votre mot de passe</p>
    <br>


    <!-- Wrapper -->
    <div class="wrapper">
        {{ form(form) }}
    </div>

{% endblock %}