{{ form_start(form, {'attr':{'class':'customSearch'}}) }}
    <div class="btnSearch">
        <span class="icon-form">
            <i class="fa-solid fa-location-dot"></i>
            {{ form_row(form.q, {'attr':{'class':'btnSearch'}}) }}
        </span>
    </div>

    <div class="btnSearch">
            <span class="icon-form">
                <i class="fa-solid fa-location-dot"></i>
                {{ form_row(form.city, {'attr':{'class':'btnSearch'}}) }}
            <form method="get">
                <input type="text" id="autocomplete"/>
                <button type="submit">Envoyer</button>
            </form>
            </span>
    </div>

    <button class="btn4" type="submit">Trouver un freelance</button>
{{ form_end(form) }}