{% extends 'base.html.twig' %}

{% block title %}Devnodes | Home{% endblock %}

{% block body %}

    <div class="section-1">
    <h1>Vous êtes a la recherche d'un <div class="freelance">Freelance ?</div></h1>
        <p>Embauchez d'exellents freelances, rapidement.</p>
        <p>Devnodes vous facilitera votre recherche !</p>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="btntrouverunfreelance" type="text" name="" id="" placeholder="Trouver un freelance">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="" id="" placeholder="Lieu de la mission">
        <button class="trouverunfreelance">Trouver un freelance</button>
        <img src="img/header.png" alt="homepage">
    </div>

{% endblock %}
