{% extends 'base.html.twig' %}

{% block title %}Devnodes | Mes messages{% endblock %}


{% block body %}
<!-- En tête titre -->
<h1 class="text-center mt-3">Mes messages</h1>

<br>

<!-- Wrapper -->
<div class="wrapper">
    <div class="row">
        <div class="col-4 AllMessages">
            <h2 class="text-center">Tout les messages</h2>
        </div>
        <div class="col-8">
            <h2 class="text-center">Message de</h2>
            <div class="ActualMessage">

            </div>

        </div>
    </div>
</div>
{% endblock %}
