{% extends 'base.html.twig' %}

{% block title %}Devnodes{% endblock %}

{% block body %}

{#    {% include 'home/_filter.html.twig' with {form: searchFreelance} only %}#}
    <h1 class=" mt-5 text-center">Résulat de votre recherche</h1>
    <hr>

    <div class="mt-5 wrapper_resultat">

        <div class="filtre">
            <h4>Filtres</h4>
            {% include 'result_bdr/_filter.html.twig' with {form: searchFreelance2} only %}
        </div>
        <hr>

        <div class="resultat">
            {% if freelances is not empty %}
            {% for freelance in freelances %}
                {% include 'result_bdr/_card.html.twig' with {freelance: freelance, user: user} only %}
            {% endfor %}
            {% else %}
            Aucun profil, contactez directement le meilleur : MR.SLAOUI
            {% endif %}
        </div>


    </div>

    <div class="pagination" style="float:right">
        {{ knp_pagination_render(freelances) }}
    </div>

{% endblock %}
