/* Formulaire Create Mission */
.formBase{
    column-count: 2;
    padding:3rem;
}

/* Fin Formulaire Create Mission */

.sidebar{
    padding:5rem;
}

/* Proposer une mission */

.proposeMission a{
    text-decoration: none;
    color: white;
    margin:auto;
}
/* Fin proposer une mission */

/* Register Freelance */

.registerFreelance{
    column-count: 3;
}
/* Fin Register Freelance */

/* Register Client */
.formRegister,.formEditRegister{
    column-count: 2;
}
/* Fin Register Client */

/* headerProfil */

.headerProfil{
    max-height: 300px;
}

/* Messaging */

.AllMessages{
    padding: 3%;
    border: solid 1px #479F9F;
}

.ActualMessage{
    padding: 3%;
    border: solid 1px #479F9F;
}

/* Mon compte */

/* Mon compte */


.account-item {
    background-color: #479F9F;
    padding: 75px;
    text-align: center;
    margin-top: 1rem;
}

.account-item:hover {
    -webkit-transform: scale(1.05);
    /* Safari et Chrome */
    -moz-transform: scale(1.05);
    /* Firefox */
    -ms-transform: scale(1.05);
    /* Internet Explorer 9 */
    -o-transform: scale(1.05);
    /* Opera */
    transform: scale(1.05);
}

.account-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.account-item a:hover {
    text-transform: uppercase;
    color: #EFF5F5;
    font-weight: bolder;
    text-decoration: none;
}

/* Formulaire de contact */

.column-contact {
    margin: auto;
    position: relative;
    width: 500px;
    margin-bottom: 3rem;
    padding-left: 35px;
    padding-right: 35px;
    vertical-align: top;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: #EFF5F5 -8px 2px 11px;
}


/** PAGE TEST **/
