#login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#login-page .textSide {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

#login-page .rightSide{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-color: #166c6c;
    gap: 20px;
}

.g-recaptcha {
    outline: 0;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 50%;
    padding: 1.2em 0;
    margin: 4em auto;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}




@media (min-width: 768px) {
    #login-page {
        flex-direction: row;
    }

    #login-page .textSide {
        height: 100%;
        width: 50%;
    }

    #login-page .rightSide{
        flex-direction: column;
        gap: 20px;
        height: 100%;
        width: 50%;
    }
    #login-page .rightSide .input-space{
        width: 40%;
    }
    .form-control{
        height: 60px;
    }
}