.message-container {
  padding: 0 auto;
  margin: 0 auto;
}

.message-received, .message-send {
  max-width: 80%;
}

.message-received {
  float: left;
  clear: both;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-send {
  float: right;
  clear: both;
  background-color: #00b0ff;;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-content {
  font-size: 18px;
  margin-bottom: 5px;
}

.message-datetime {
  font-size: 14px;
  color: #0e0e0e;
  margin-bottom: 5px;
}

.message-sender, .message-recipient {
  font-size: 16px;
  font-weight: bold;
}

.input-container {
  align-items: center;
  background-color: #dadada;
  border-radius: 10px;
  padding: 2em;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-right: 1rem;
}

.submit-message[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-message[type="submit"]:hover {
  background-color: #3e8e41;
}

.fas.fa-paper-plane {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  .message-container {
    max-width: 90%;
  }

  .message-received, .message-send {
    max-width: 100%;
  }

  .message-content {
    font-size: 14px;
  }

  .message-datetime {
    font-size: 12px;
  }

  .message-sender, .message-recipient {
    font-size: 14px;
  }
}
