.fa-star{
    color:gold;
}
.fa-briefcase{
    color:#479F9F;
}

.fa-camera:hover{
    background-color: #479F9F;
}
.fa-camera{
    font-size: 60px;
    border-radius: 50%; /* pour un cercle parfait */
    padding: 10px;
}
.width800{
    max-width: 800px;
}
.input-skills{
        max-width: 500px;
        margin:auto;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.price {
    text-align: center;
    color: #EFF5F5;
    width: 300px;
    background-color: #479F9F;
    padding: 1%;
}

.xpYears {
    flex:1;
    text-align: center;
    width: 300px;
    padding: 1%;
}

.proposeMission {
    display: flex;
    width:100%;
    color: #ffffff;
    background-color: #EB6440;
    border-radius: 2%;
    text-decoration: none;
}

.proposeMission:hover {
    background-color: rgba(235, 100, 64, 0.87);
}
.proposeMission a:hover{
    text-decoration: none;
    color: white;
}


.parent{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enfant1{
    display:block;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;
}

.column {
    display:block;
    padding: 10px;
}

/** Show **/

.shadowline{
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    background-color: white;
    max-width: 1200px;
    margin:auto;
}

.bolder{
    font-family: 'JetBrains Mono', 'sans-serif';
}

article{
    display:flex;
    align-items: baseline;
    gap:5%;
    margin-bottom: 3%;
}
.btnFavProfile:hover{
    color: red;
    cursor: pointer;
}

.fa-person-walking{
    color:#479F9F;
}
.blueh2{
    color:#479F9F;
    font-size: 24px;
}

#blok-right{
    padding:2%;
    width: 66%;
    border: 1px solid #D6E4E5;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#blok-left{
    padding:2%;
    width: 33%;
    border: 1px solid #D6E4E5;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

#blok-right .touche{
    display: flex;
}

.textInfo{
    margin-top: 7.52px;
}

/** Gallery Skills **/
#skills{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding:2%;
    border: 1px solid #D6E4E5;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#galerie,#galerie2,#galerie3{
    height: 100%;
}

.btn-collapse{
    background-color: white;
    color:black;
}

#experience{
    margin-top: 3%;
    padding:2%;
    border: 1px solid #D6E4E5;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}
.middle{
    margin: auto;
}

.verified-back{
    background-color: #EB6440;
    padding: 2%;
    width:70%
}

.verified-grey{
    background-color: #D6E4E5;
    padding: 2%;
    width:70%
}

.comment{
    width:90%;
}
.comment :nth-child(3){
    flex-direction: row-reverse;
    text-align: right;
}

