.fa-star{
    color:gold;
}
.fa-briefcase{
    color:#479F9F;
}

.fa-camera:hover{
    background-color: #479F9F;
}
.fa-camera{
    font-size: 60px;
    border-radius: 50%; /* pour un cercle parfait */
    padding: 10px;
}
.squares {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
}

.price {
    text-align: center;
    color: #EFF5F5;
    border: solid 1px #479F9F;
    border-radius: 2%;
    width: 300px;
    background-color: #479F9F;
    padding: 1%;
}

.xpYears {
    flex:1;
    text-align: center;
    border: solid 1px #479F9F;
    border-radius: 2%;
    width: 300px;
    padding: 1%;
}

.proposeMission {
    display: flex;
    width:100%;
    color: #479F9F;
    background-color: transparent;
    border: 1px solid #479F9F;
    border-radius: 2%;
    text-decoration: none;
}


.parent{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enfant1{
    display:block;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
}

