/* Register Freelance /*
    /* Styles généraux */
#myForm {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

#step1.active {
    display: block; /* Affiche l'étape 1 */
}

/* Styles des étapes */
#step1, #step2, #step3, #step4, #step5, #step6 {
    display: none; /* Par défaut, toutes les étapes sont cachées */
    padding: 20px;
}

/* Styles des champs de formulaire */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Styles des boutons */
button {
    background-color: #479F9F;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin:auto;
}

button:hover {
    opacity: 0.8;
}

/* Styles des erreurs de formulaire */
.form-errors {
    color: red;
    font-size: small;
}

/* Fin Register Freelance /*