* {
  font-family: "Raleway", sans-serif;

}

/* --- TYPOGRAPHIE --- */

/*
Blanc : #EFF5F5
Bleu : #479F9F
Gris : #D6E4E5
Orange : #EB6440

Typo1 : font-family: 'JetBrains Mono', monospace;
Typo2 : font-family: 'Raleway', sans-serif;

 */

/* --- NAVBAR --- */

@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #f5f2ef;
  align-items: center;
  padding: 10px;
}

nav a:hover {
  color: #f5f2ef;
  text-decoration: none;
}

nav .navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  text-decoration: none;
}

.btn1 {
  color: #1c1c1c;
  text-decoration: none;
}

.btn1:hover {
  font-weight: bold;
  color: #1c1c1c;
}

.btn2 {
  color: #c40000;
  text-decoration: none;
}

.btn2:hover {
  font-weight: bold;
  color: #c40000;
}

.btn3 {
  color: #eb6440;
  text-decoration: none;
}

.btn3:hover {
  font-weight: bold;
  color: #eb6440;
}

.btn7{
  text-decoration: none;
  color: white;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
}

.btn7:hover {
  background-color: rgba(28, 28, 28, 0.84);
}

/* --- FIN NAVBAR --- */

/* --- MENU BURGER --- */

@media screen and (min-width: 768px) {
  #openBtn {
    display: none;
  }
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* --- FIN MENU BURGER --- */

/* --- HEADER HOME --- */

@media screen and (max-width: 980px) {
  .imagehome {
    display: none;
  }
}

.section-1 {
  background-color: #479f9f;
  display: flex;
  justify-content: space-around;
  padding: 60px 20px 20px;
}

.freelance {
  color: white;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
}

.bdr h1 {
  font-weight: bold;
}

.sous-titre {
  line-height: 0.5rem;
}

.btnSearch {
  padding: 10px;
  width: 18rem!important;
  border-radius: 5px;
  border: none;
}

.btnPlace {
  margin-bottom: 30px;
}

/* --- FIN HEADER HOME --- */

.icon-form {
  position: relative;
  display: inline-block;
}

.icon-form input {
  padding-left: 35px;
}

.icon-form i {
  position: absolute;
  top: 15px;
  left: 10px;
}

.btn4 {
  padding: 15px;
  background-color: #232323;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-left: 6px;
  width : 15rem;
}


/* --- RESULTAT BDR --- */

@media screen and (max-width: 880px) {
  .wrapper_resultat {
    flex-wrap: wrap;
    justify-content: center;
  }

  .resultat{
    justify-content: center;
  }
}

.wrapper_resultat{
  display: flex;
  gap: 25px;
  margin: 10px;
}

.btnSearch2{
  width: 250px;
  justify-items: baseline;
}


.resultat{
  display:flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.cardFreelance{
  box-shadow : 1px 2px 0.5em 0.5em rgba(0, 0, 0, 0.11);
  padding: 10px;
}

.card-title{
  padding: 5px;
  font-weight: bold;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1rem;
}

.card-body h4{
  font-size: 15px;
  padding-left: 5px;
}

.card-body h4 .fa-solid{
  color: #8f0000;
}

.card-body h3{
  font-size: 15px;
  background-color: #479f9f;
  border-radius: 5px;
  color: white;
  width: 95px;
  padding: 10px;
}

.card-body .card-text{
  font-weight: bold;
}

.viewProfil{
  text-align: right;
}

.btn6{
  background-color: #479f9f;
  padding: 10px;
  border-radius: 8px;
  color: white;
}
.btnFav{
  background-color: #479f9f;
  padding: 10px;
  border-radius: 8px;
  color: white;
}
.btnFav:hover{
  cursor: pointer;
  color: red;
}







/* --- FIN RESULTAT BDR --- */
