{% extends 'base.html.twig' %}

{% block title %}Devnodes | Erreur 401 !{% endblock %}

{% block body %}

    <h3 class="text-center mb-3"><strong>ERREUR 401</strong></h3>

    <p class="text-center"><img class="img-vip"src="{{ asset('img/error401.webp') }}" alt="vip"><br><br>
        <a href="{{ path('app_home') }}"> Retourner à la page d'accueil </a>
    </p>



{% endblock %}