{% extends 'base.html.twig' %}

{% block title %}Devnodes | Charts{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-3">Charte des développeurs</h1>
<div id="myForm">
    <h2>1. Fournir des informations personnelles honnêtes et exactes</h2>
    <p>Je fournis des informations précises sur mon identité, ma localisation, ma structure juridique, ma disponibilité, mes compétences et mon expérience.<br>
        Des descriptions précises et détaillées attirent les clients et facilitent le bon déroulement de mes tâches.</p>

    <h2>2. Travail sérieux </h2>
    <p>Je réagis rapidement aux suggestions que je reçois, je tiens mes promesses et veille à la qualité de mes rendus tout en assurant une bonne communication.<br>
        Alors je travaille dur pour ma réputation et celle de tous les freelances sur Devnodes !</p>

    <h2>3. Respectez les relations directes </h2>
    <p>La sous-traitance et le proxying n'ont pas leur place chez Devnodes.
        J'exécute personnellement les tâches que mes clients me confient, assurant une relation directe, transparente et de confiance.</p>

    <h2>4. Exécuter mes tâches sur Devnodes </h2>
    <p>Devnodes connecte les indépendants avec de nouveaux clients.
    J'effectue diverses tâches auprès de ces clients via Devnodes, ce qui me permet de gagner en visibilité dans les moteurs de recherche.
        Améliorer ma réputation me permettra également d'augmenter les prix.</p>

    <h2>5. Laisser des avis clients honnêtes</h2>
    <p>Je laisse des avis honnêtes, courtois et professionnels.
    Ils sont représentatifs du déroulement de mes missions.
        Si je souhaite signaler quelque chose, je n’hésite pas à contacter l’équipe Devnodes.</p>

    <h2>6. Choisir mes missions pour les bonnes raisons</h2>
    <p>J’accepte les missions en ne basant pas mes choix sur le genre, l’origine ethnique, la religion, l’orientation sexuelle, l’état de santé ou la situation familiale de mes clients.
    Freelances et clients agissent ensemble pour le succès des projets, seuls les critères professionnels sont à considérer.</p>

    <b>Notre charte protège l’ensemble de la communauté, clients et freelances.</b><br>
    Assurer son respect est donc indispensable pour le succès de tous, et tout manquement à ses principes pourra entraîner la modération du profil ou le déclassement dans les résultats du moteur de recherche.
</div>
{% endblock %}

