{% extends 'base.html.twig' %}

{% block title %}Devnodes | Privacy Policy{% endblock %}

{% block body %}
<h1 class="text-center mt-3 mb-3">Politique de gestion des cookies</h1>
<div id="myForm">
    <p>Notre site utilise des cookies pour améliorer votre expérience utilisateur et pour fournir des fonctionnalités
        personnalisées. Cette politique de gestion des cookies décrit comment nous utilisons les cookies sur notre site.
    </p>

    <h2>QU'EST-CE QU'UN COOKIE ?</h2>
    <p>Un cookie est un petit fichier texte qui est stocké sur votre ordinateur ou votre appareil mobile lorsque vous
        visitez notre site. Les cookies sont largement utilisés pour rendre les sites Web plus efficaces, pour améliorer
        les performances, et pour fournir des informations aux propriétaires de sites Web.
    </p>

    <h2>COMMENT NOUS UTILISONS LES COOKIES ?</h2>
    <p>Nous utilisons des cookies pour fournir des fonctionnalités personnalisées, pour analyser la performance de notre
        site et pour nous aider à comprendre comment les utilisateurs interagissent avec notre site. Les cookies nous
        permettent également de personnaliser les publicités et les promotions qui vous sont proposées sur notre site.
    </p>

    <h2>TYPES DE COOKIES QUE NOUS UTILISONS</h2>
    <p>Nous utilisons deux types de cookies sur notre site :
        <ul>
            <li>Les cookies de session : Ces cookies sont temporaires et sont supprimés de votre ordinateur ou appareil mobile
        lorsque vous fermez votre navigateur. Ces cookies sont utilisés pour stocker des informations temporaires telles
        que votre langue préférée, pour vous aider à naviguer sur notre site.</li>
            <br>
            <li>Les cookies persistants : Ces cookies restent sur votre ordinateur ou votre appareil mobile même après que vous
        avez fermé votre navigateur. Ces cookies sont utilisés pour stocker des informations telles que vos préférences
        de site et pour vous permettre de vous connecter automatiquement à notre site lors de vos prochaines visites.</li>
        </ul>
    </p>

    <h2>COMMENT GÉRER LES COOKIES ?</h2>
    <p>Vous pouvez configurer votre navigateur pour accepter ou refuser les cookies. Vous pouvez également supprimer les
        cookies de votre ordinateur ou appareil mobile à tout moment. Veuillez noter que si vous choisissez de
        désactiver les cookies, certaines fonctionnalités de notre site peuvent ne pas fonctionner correctement.</p>

    <h2>MODIFICATIONS DE LA POLITIQUE DE GESTION DES COOKIES</h2>
    <p>Nous nous réservons le droit de modifier cette politique de gestion des cookies à tout moment. Les modifications
        seront affichées sur cette page, et nous vous recommandons de la consulter régulièrement pour être informé des
        changements.</p>

    <h2>CONTACTEZ-NOUS</h2>

    <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous
        contacter via la page dédié accessible <a href="{{ path('app_contact')}}">Ici</a>.</p>
    <h2>CONSENTEMENT</h2>

    <p>En utilisant notre site, vous consentez à notre utilisation des cookies conformément à cette politique de gestion
        des cookies. Si vous n'êtes pas d'accord avec notre politique de gestion des cookies, veuillez ne pas utiliser
        notre site.</p>
</div>
{% endblock %}