{% extends 'base.html.twig' %}

{% block title %}Devnodes | Politique de confidentialité{% endblock %}

{% block body %}
    <div id="myForm">
        <h1 class="text-center mt-3 mb-3">Politique de confidentialité</h1>
        <p>
            Cette politique de confidentialité décrit comment nous collectons, utilisons et partageons vos informations lorsque vous utilisez notre site de mise en relation freelance-client.
        </p>
        <h2>Collecte d'informations</h2>
        <p>
            Nous collectons des informations personnelles lorsque vous créez un compte sur notre site, postulez à des offres de travail ou engagez un freelance. Les informations que nous collectons peuvent inclure votre nom, votre adresse e-mail, votre adresse physique, votre numéro de téléphone, votre photo de profil, vos informations de paiement et toute autre information que vous choisissez de partager avec nous.
        </p>
        <h2>Utilisation des informations</h2>
        <p>
            Nous utilisons vos informations pour vous fournir nos services, répondre à vos demandes, traiter vos paiements, améliorer notre site et vous informer de nouvelles offres de travail ou de services qui pourraient vous intéresser. Nous pouvons également utiliser vos informations pour personnaliser votre expérience sur notre site et pour communiquer avec vous à propos de nos services.
        </p>
        <h2>Partage des informations</h2>
        <p>
            Nous ne vendons pas vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations avec des prestataires de services tiers, tels que des processeurs de paiement, des fournisseurs de services de marketing et des hébergeurs de site web. Nous pouvons également partager vos informations si nous y sommes contraints par la loi ou si nous croyons que la divulgation est nécessaire pour protéger nos droits ou pour répondre à une demande légale.
        </p>
        <h2>Sécurité des informations</h2>
        <p>
            Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, la modification ou la destruction. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est sûre à 100 %.
        </p>
        <h2>Modification de la politique de confidentialité</h2>
        <p>
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront affichées sur cette page, et nous vous recommandons de la consulter régulièrement pour être informé des changements.
        </p>
        <h2>Contactez-nous</h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter via la page dédiée accessible <a href="{{ path('app_contact')}}">ici</a>.
        </p>
        <h2>Consentement</h2>
    <p>En utilisant notre site, vous consentez à notre politique de confidentialité. Si vous n'êtes pas d'accord avec
        notre politique de confidentialité, veuillez nous faire une suggestion du pourquoi du comment.</p>
</div>
{% endblock %}