  {{ form_start(form) }}
  <div class="input-container">
  {{ form_widget(form) }}
    <button class="submit-message" type="submit"><i class="fas fa-paper-plane"></i>{{ button_label|default('Envoyer') }}</button>
  </div>
  {{ form_end(form) }}
