{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="input-container">
        <button class="submit-message" type="submit"><i class="fas fa-paper-plane"></i>{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
