{% extends 'base.html.twig' %}

{% block title %}Bravo, vous êtes VIP !{% endblock %}

{% block body %}

    <p class="text-center">Oh non il y à quelque chose qui cloche, veuillez réessayer</p>

{% endblock %}