{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}

    <h1 class="text-center"> Fonctionnalité en cours de traitement,<br> Merci de ne pas toucher au controller Subscription</h1>
{#    <form id="myForm" action="{{ path('subscription_create') }}" method="post">#}
{#        <div>#}
{#            <label for="email">Email</label>#}
{#            <input type="email" id="email" name="email">#}
{#        </div>#}
{#        <div>#}
{#            <label for="card-element">#}
{#                Credit or debit card#}
{#            </label>#}
{#            <div id="card-element">#}
{#                <!-- A Stripe Element will be inserted here. -->#}
{#            </div>#}

{#            <!-- Used to display form errors. -->#}
{#            <div id="card-errors" role="alert"></div>#}
{#        </div>#}

{#        <button type="submit">Subscribe</button>#}
{#    </form>#}

{#            <!-- Used to display form errors. -->#}
{#            <div id="card-errors" role="alert"></div>#}
{#    <script src="https://js.stripe.com/v3/"></script>#}

{% endblock %}
