{% extends 'base.html.twig' %}

{% block title %}Bravo, vous êtes VIP !{% endblock %}

{% block body %}

    <h3 class="text-center mb-3"><strong>FELICITATION</strong> ! VOUS ETES MAINTENANT UN <em>VIP</em> DE <strong>DEVNODES</strong> !!</h3>

    <p class="text-center"><img class="img-vip"src="{{ asset('img/VIP.png') }}" alt="vip"><br><br>
        <a href="#"> Acceder à votre portail client </a>
    </p>


<div class="row">
    <div class="col-4"></div>
    <div class="col-6">
        <p class="mr-2">Voici vos avantages <strong>VIP</strong> :</p>
        <ul>
            <li>
                Position privilégié sur les pages de recherche
            </li>
            <li>
                Réponse du support en 48h
            </li>
            <li>
                Autres avantages
            </li>
        </ul>
    </div>
    <div class="col-4"></div>
</div>



{% endblock %}
