{% extends 'base.html.twig' %}

{% block title %}Bravo, vous êtes VIP !{% endblock %}

{% block body %}

    <p class="text-center">FELICITATION ! VOUS ETES MAINTENANT UN VIP DE DEVNODES !!</p>

   <a href="https://billing.stripe.com/p/login/test_aEU17H1Cv0eN4BW6oo"> Acceder à votre portail client </a>
{% endblock %}
