{% extends 'base.html.twig' %}

{% block title %}Devnodes | Favoris{% endblock %}


{% block body %}
<!-- En tête titre -->
<h1 class="text-center mt-3">Mes freelances favoris</h1>

<br>
        <div class="wrapper_resultat">
                <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-10 cardsFreelance">
                                {% if favorites is not empty %}
                                <div class="resultat">
                                        {% for freelance in favorites %}
                                                {% include 'result_bdr/_card.html.twig' with {freelance: freelance, user: user} only %}
                                        {% endfor %}
                                        {% else %}
                                        Aucun favoris
                                        {% endif %}
                                </div>
                        </div>
                </div>
                <div class="pagination" style="float:right">
                        {{ knp_pagination_render(favorites) }}
                </div>
        </div>
<!-- Wrapper -->
{#<div class="wrapper">#}
{#    {% for freelance in favorites %}#}
{#        <h1>{{freelance.firstname}}</h1>#}
{#    {% endfor %}#}
{#</div>#}
{% endblock %}
