{% extends 'base.html.twig' %}

{% block title %}Devnodes | Mes Favoris{% endblock %}


{% block body %}
<!-- En tête titre -->
<h1 class="text-center mt-3">Mes freelances favoris</h1>

<br>

<!-- Wrapper -->
<div class="wrapper">
    {% for freelance in favorites %}
        <h1>{{freelance.firstname}}</h1>
    {% endfor %}
</div>
{% endblock %}
