{% extends 'base.html.twig' %}

{% block title %}Devnodes | Inscription Freelance{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="registerFreelance">
{{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
